.surah-detail {
    padding: 0px 100px 100px 100px;
    background-color: rgba(127, 255, 212, 0.079);
}

.header-detail {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.btn-detail-back {
    color: inherit;
    text-decoration: none;
    font-size: 32px;
    margin-right: 20px;
}

.titel-detail-translate {}

.title-detail-orginal {
    text-align: center;
}

.ayat-detail {
    border-bottom: 0.5px solid gray;
    padding: 50px 0px;
}

.ayat-orginal {
    text-align: right;
}

.ayat-translation {}

.loader-detail {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}