.surah-detail {
    padding: 0px 100px 100px 100px;
    background-color: rgba(127, 255, 212, 0.079);
}

.header-detail {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.btn-detail-back {
    color: inherit;
    text-decoration: none;
    font-size: 32px;
    margin-right: 20px;
    color: #20B2AA;
}

.titel-detail-translate {
    margin-left: 410px;

}

.title-detail-orginal {
    text-align: center;
    color: #20B2AA;
}

.ayat-detail {
    border-bottom: 0.5px solid gray;
    padding: 50px 0px;
}

.ayat-orginal {
    text-align: right;
}

.ayat-translation {
    color: #2F4F4F;
}

.arabic-number {
    border-radius: 60% 40% 40% 20% / 70% 50% 30% 25%;
    border: 1px solid #20B2AA;
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.error-surah-detaile {
    color: red;
    margin-top: 100px;
    text-transform: capitalize;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .surah-detail {
        padding: 0px 40px;
    }

    .header-detail {
        padding: 10px 0px;
    }

    .titel-detail-translate {
        font-size: 20px;
        margin-left: 270px;
    }

    .btn-detail-back {
        font-size: 30px;
    }

    .title-detail-orginal {
        margin: 0px 0px;
    }

    .ayat-detail {
        padding: 20px 0px;
    }

    .ayat-orginal {
        font-size: 20px;
    }

    .ayat-translation {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .surah-detail {
        padding: 0px 20px;
    }

    .header-detail {
        padding: 10px 0px;
    }

    .titel-detail-translate {
        font-size: 20px;
        margin-left: 80px;
    }

    .btn-detail-back {
        font-size: 30px;
    }

    .title-detail-orginal {
        font-size: 30px;
        margin: 0px 0px;
    }

    .ayat-detail {
        padding: 10px 0px;
    }

    .ayat-orginal {
        font-size: 18px;
        margin: 10px 0px;
    }

    .ayat-translation {
        font-size: 14px;
        margin: 10px 0px;
    }
}