.lan-select {
    position: absolute;
    right: 20px;
    top: 40px;
    z-index: 50;
    padding: 5px;
    border-color: rgb(72, 163, 93);
    border-radius: 5px;
}

.lan-select:focus {
    outline: none;
}

.lan-option {}

@media screen and (max-width: 400px) {
    .lan-select {
        right: 10px;
        top: 20px;
        padding: 2;
    }
}